<p>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="material-icons" aria-label="Cars"> -->
      <mat-icon>commute</mat-icon>
    <!-- </button> -->
    <span>Cars app</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<div class="container">
    <p>
      <button mat-raised-button color="primary" (click)="loadData()">Load data</button>
    </p>
    
      <table mat-table [dataSource]="data" class="mat-elevation-z8" *ngIf="data">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Produttore">
          <th mat-header-cell *matHeaderCellDef> Produttore </th>
          <td mat-cell *matCellDef="let element"> {{element.produttore}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Modello">
          <th mat-header-cell *matHeaderCellDef> Modello </th>
          <td mat-cell *matCellDef="let element"> {{element.modello}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Anno">
          <th mat-header-cell *matHeaderCellDef> Anno </th>
          <td mat-cell *matCellDef="let element"> {{element.anno}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
</div>